/* Estilo para el nivel superior */
.footer-top {
  background-color: #83d8a9; /* Tono más claro */
  color: #fff;
}

/* Estilo para el nivel inferior */
.footer-bottom {
  background-color: #41775c; /* Tono más oscuro */
  color: #fff;
}

/* Ajustes generales */
a.text-white:hover {
  color: #ccc;
  text-decoration: underline;
}

.img-fluid {
  transition: transform 0.2s ease-in-out;
}

.img-fluid:hover {
  transform: scale(1.1);
}
