  .container {
    flex: 1; 
    padding: 8px;
  }
  
  footer {
    background-color: #005C53;
    /*background-color: #81B2A0;*/
    width: 100%;
    text-align: center;
    position:fixed;
    bottom:0;
  }
  
  footer a {
    color: #fff;
    text-decoration: none;
  }

