footer {
    background-color: rgb(70, 114, 26);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}
  
footer a {
    color: #fff;
    text-decoration: none;
}
  