.navbar {
    background-color:#005C53; 
    /*background-color: #81B2A0;*/
    height: 100px; 
    display: flex; 
    align-items: center; 
}

.navbar .container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%;
}

.navbar .navbar-title {
    font-size: 24px;
    color: white;
}

.navbar .nav-link {
    font-size: 18px;
}

.navbar-nav .nav-link:hover {
    color: black; 
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px; 
}  

.navbar .profile-logo {
    height: 40px;  
    width: auto;   
    margin-left: 20px; 
}

.navbar .logoa {
    height: 65px;  
    width: auto;   
    margin-right: 20px; 
    border-radius: 100%;
}

.navbar .logoa {
    height: 65px;
    width: auto;
    margin-right: 20px;
    position: relative; 
    animation: flame 1s infinite alternate; 
}

/*@keyframes flame {
    0% {
        box-shadow: 0 0 10px 5px rgba(255, 100, 0, 0.7), 0 0 20px 5px rgba(255, 165, 0, 0.5);
    }
    50% {
        box-shadow: 0 0 20px 10px rgba(255, 165, 0, 0.7), 0 0 30px 15px rgba(255, 140, 0, 0.5);
    }
    100% {
        box-shadow: 0 0 30px 15px rgba(255, 165, 0, 0.7), 0 0 40px 20px rgba(255, 70, 0, 0.5);
    }
}*/

@keyframes flame {
    0% {
        box-shadow: 0 0 5px 3px rgba(255, 90, 95, 0.8), 0 0 10px 3px rgba(255, 120, 120, 0.5); 
    }
    50% {
        box-shadow: 0 0 10px 5px rgba(255, 100, 95, 0.9), 0 0 15px 8px rgba(255, 150, 130, 0.6); 
    }
    100% {
        box-shadow: 0 0 15px 8px rgba(255, 95, 95, 0.9), 0 0 20px 10px rgba(255, 65, 60, 0.5);
    }
}


.sidebar {
    position: fixed;
    top: 0;
    right: -300px; 
    width: 300px;
    height: 100%;
    /*background-color: #333;*/
    background-color: #3B8C6E;
    overflow-x: hidden;
    transition: right 0.3s ease;
    padding-top: 20px;
    z-index: 1000; 
}
  
.sidebar.open {
    right: 0;
}
  
.sidebar-content {
    display: flex;               
    flex-direction: column;      
    justify-content: center;    
    align-items: center;         
    height: 100%;                 
}
  
.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: background-color 0.3s ease;
}
  
.sidebar a:hover {
    background-color: #F2AE30;
    border-radius: 20px;
}
.sidebar p {
   color:white;
}
  
.profile-logo {
    width: 40px; 
    cursor: pointer;
}

.agi {
    border-radius: 50%;
    height: 150px;  
    width: auto;   
    object-fit: cover; 
}

.tinder {
    border-radius: 50%; 
    height: 200px;  
    width: auto;   
    object-fit: cover; 
}

  
.navbar-nav .nav-item .nav-link.active {
    text-decoration: underline; 
    font-weight: bold;
    color: #007bff; 
  }


  
  
  @media (max-width: 768px) { /* Ajusta el tamaño según lo necesario */
    .navbar-collapse {
      background-color: #d38c0af8; /* Cambia el fondo del menú desplegable */
    }
    
    .navbar-nav .nav-item .nav-link {
      color: #fff; /* Cambia el color del texto de los enlaces */
    }
    
    .navbar-nav .nav-item .nav-link:hover {
      color: #ff5722; /* Cambia el color del texto al pasar el cursor */
    }
  }
  