/* Contenedor principal */
.container-custom {
  display: flex;
  justify-content: center; /* Centra las tarjetas horizontalmente */
  flex-wrap: wrap; /* No permite que las tarjetas se envuelvan */
  gap: 20px; /* Espacio entre tarjetas */
  margin: 40px auto;
  overflow-x: auto; /* Habilita desplazamiento horizontal si las tarjetas son demasiadas */
  padding: 10px;
  width: auto; /* Permite que el contenedor se ajuste dinámicamente */
}

/* Estilos para cada tarjeta */
.card-custom {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  flex: 0 0 auto; /* Evita que las tarjetas cambien de tamaño */
  width: 320px;
  height: 300px; /* Tamaño fijo para cada tarjeta */
}

/* Encabezado de la tarjeta */
.card-header {
  display: flex;
  justify-content: space-between;
}

/* Detalles de fecha, hora y ubicación */
.date-time {
  font-weight: bold;
  margin: 0;
  font-size: 20px; /* Ajusta el tamaño */
}

.sport {
  font-size: 18px; /* Ajusta el tamaño */
}

/* Contenedor de jugadores y lugares disponibles */
.players-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* Estilo para cada jugador o lugar libre */
.player-box,
.spot-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5px;
}

/* Imágenes de jugadores */
.player-box img,
.spot-box img {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 8px;
  margin-right: 5px;
  margin-left: 5px;
}

.spot-box img:hover {
  transition: 0.5s;
  transform: scale(1.1)
}

/* Línea vertical separadora */
.separator {
  width: 2px;
  background-color: #ccc;
  height: 60px;
  margin: 0 16px;
}

/* Línea horizontal (arriba y abajo de los jugadores) */
.horizontal-line {
  border: 0;
  border-top: 1px solid #ccc;
  margin: 10px 0;
}

/* Contenedor de Location, Price y Duration */
.location-price-duration {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  width: 100%;
}

/* Estilo de precio y duración */
.price-duration {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.price {
  margin: 0;
  font-weight: bold;
  text-align: right;
}

.duration {
  font-weight: lighter;
  font-size: 10px;
}

.location {
  font-size: 20px;
  padding-left: 10%;
}
