.card {
    border: 1px solid #ddd;
    border-radius: 8px;
  }

  .card-title {
    color: #333;
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .card-text {
    font-size: 1rem;
    color: #666;
  }

  .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }


.card-title {
  color: #333;
  font-size: 1.25rem;
  font-weight: bold;
}

.card-text {
  font-size: 1rem;
  color: #666;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.product-img {
  width: 100%;
  height: 450px;
  border-radius: 8px;
}
