/* Estilo para la navbar */
.navbar {
    background-color: rgb(70, 114, 26); 
    height: 100px; 
    display: flex; 
    align-items: center; 
}

/* Aseguramos que los elementos dentro del contenedor estén alineados en fila */
.navbar .container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%;
}

/* Asegura que el texto 'Tinderkete' esté alineado */
.navbar .navbar-title {
    font-size: 24px;
    color: white;
}

/* Estilo de los enlaces */
.navbar .nav-link {
    font-size: 18px;
}

.navbar-nav .nav-link:hover {
    color: black; 
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px; 
}  

/* Estilo para la imagen de perfil */
.navbar .profile-logo {
    height: 40px;  
    width: auto;   
    margin-left: 20px; 
}

.navbar .logoa {
    height: 65px;  
    width: auto;   
    margin-right: 20px; 
}

/* Barra lateral */
.sidebar {
    position: fixed;
    top: 0;
    right: -300px; 
    width: 300px;
    height: 100%;
    background-color: #333;
    overflow-x: hidden;
    transition: right 0.3s ease;
    padding-top: 20px;
    z-index: 1000; 
}
  
.sidebar.open {
    right: 0;
}
  
.sidebar-content {
    display: flex;               
    flex-direction: column;      
    justify-content: center;    
    align-items: center;         
    height: 100%;                 
}
  
.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: background-color 0.3s ease;
}
  
.sidebar a:hover {
    background-color: rgb(70, 114, 26);
}
.sidebar p {
   color:white;
}
  
/* Estilo del emoticono de perfil */
.profile-logo {
    width: 40px; 
    cursor: pointer;
}

.agi {
    border-radius: 50%;
    height: 150px;  
    width: auto;   
    object-fit: cover; 
}

.tinder {
    border-radius: 50%; 
    height: 200px;  
    width: auto;   
    object-fit: cover; 
}