header {
    background-color: rgb(70, 114, 26);
    height: 90px;
    width: 100%;
}

.login-container {
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;  
    margin-top: -150px; 
}

.login-container .btn-primary {
    background-color: rgb(70, 114, 26); 
    border-color: #1e7e34;
    width: 100%;
}

.logo {
    height: 300px; 
    width: 500px;
    margin-bottom: -150px; 
}

.login-wrapper {
    padding: 20px;
    text-align: center;
}

